<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="soc.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Standard Scala OpenCell Perspective"
            class="soc.Perspective"
            id="sOC.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Message"
            allowMultiple="true"
            icon="icons/sample2.gif"
            class="soc.View"
            id="sOC.view">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Mail"
            id="sOC.category">
      </category>
      <command
            name="Open Mailbox"
            description="Opens a mailbox"
            categoryId="sOC.category"
            id="sOC.open">
      </command>
      <command
            name="Open Message Dialog"
            description="Open a message dialog"
            categoryId="sOC.category"
            id="sOC.openMessage">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="sOC.open"
            schemeId="sOC.scheme"
            sequence="CTRL+2">
      </key>
      <key
            commandId="org.eclipse.ui.file.exit"
            schemeId="sOC.scheme"
            sequence="CTRL+X">
      </key>
      <scheme
            id="sOC.scheme"
            name="sOC.scheme">
      </scheme>
   </extension> 
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="sOC.application"
            name="sOC">
         <property
               name="aboutText"
               value="Some text about the Scala OpenCell port">
         </property>
         <property
               name="windowImages"
               value="icons/sample2.gif">
         </property>
         <property
               name="aboutImage"
               value="product_lg.gif">
         </property>
         <property
               name="appName"
               value="sOC">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>

</plugin>
