<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-scoped"
            icon="icons/opencell16.png"
            visible="true">
         <run
               class="soc.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Standard Scala OpenCell Perspective"
            class="soc.Perspective"
            id="sOC.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="XML View"
            allowMultiple="true"
            icon="icons/xml.png"
            class="soc.View"
            id="sOC.xml.view">
      </view>
      <view
            allowMultiple="true"
            class="soc.View"
            icon="icons/text.png"
            id="sOC.text.view"
            name="Text View">
      </view>
      <view
            allowMultiple="true"
            class="soc.View"
            icon="icons/xml.png"
            id="sOC.tree.view"
            name="Tree View">
      </view>
      <view
            allowMultiple="true"
            class="soc.View"
            icon="icons/opencell16.png"
            id="sOC.model_list"
            name="Model list">
      </view>
      <view
            allowMultiple="true"
            class="soc.View"
            icon="icons/xml.png"
            id="sOC.repository_explorer"
            name="Repository Explorer">
      </view>
      <view
            allowMultiple="true"
            class="soc.RenderedView"
            id="sOC.rendered_view"
            name="Rendered View">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Mail"
            id="sOC.category">
      </category>
      <command
            name="Open Mailbox"
            description="Opens a mailbox"
            categoryId="sOC.category"
            id="sOC.open">
      </command>
      <command
            name="Open Message Dialog"
            description="Open a message dialog"
            categoryId="sOC.category"
            id="sOC.openMessage">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="sOC.open"
            schemeId="sOC.scheme"
            sequence="CTRL+2">
      </key>
      <key
            commandId="org.eclipse.ui.file.exit"
            schemeId="sOC.scheme"
            sequence="CTRL+X">
      </key>
      <scheme
            id="sOC.scheme"
            name="sOC.scheme">
      </scheme>
   </extension> 
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="sOC.application"
            name="sOC">
         <property
               name="aboutText"
               value="Some text about the Scala OpenCell port">
         </property>
         <property
               name="windowImages"
               value="icons/opencell16.png">
         </property>
         <property
               name="aboutImage"
               value="product_lg.gif">
         </property>
         <property
               name="appName"
               value="sOC">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.ui.part.MultiPageEditor"
            contributorClass="org.eclipse.ui.part.MultiPageEditorActionBarContributor"
            default="true"
            icon="icons/text.png"
            id="sOC.texteditor"
            launcher="org.eclipse.ui.IEditorLauncher"
            name="Text Editor">
      </editor>
      <editor
            class="soc.editors.XMLEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="xml"
            icon="icons/xml.png"
            id="soc.editors.XMLEditor"
            name="Sample XML Editor">
      </editor>
   </extension>

</plugin>
